body {
    background: #f2f2f2;
}

/*toolbar*/
.banner {
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    font-family: '微软雅黑';
    line-height: 40px;
}

.banner_icon {
    padding: 0;
}

.background-white {
    background: white;
}

.underline {
    border-bottom: 1px solid #d0d0d0;
}

.container-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.avatar {
    margin: 10px 0 10px 10px;
    width: 100%;
}

.score {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    align-items: flex-start;
    display: flex;
}

.nopadding {
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.img_size_1 {
    width: 100%;
    background-size: cover;
}

.del_pd {
    padding: 12px 58px;
}

.delbtn {
    color: #ea1c4c;
    border: 1px solid #ea1c4c;
}

/*常用的默认定值*/
.pdl0 {
    padding-left: 0;
}

.pd10-top {
    padding-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.m5 {
    margin: 5px 0;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.blank10 {
    height: 10px;
}

.rowHeightSame {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.rowHeightSame > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.box_img_center {
    width:100%;
    height:100%;
    position:relative;
}

.box_img_center img{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}


/*end常用的默认定值*/