body {
    background: #f2f2f2;
}

/*toolbar*/
.banner{
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    font-family: '微软雅黑';
    line-height: 40px;
}
.banner_icon{
    padding: 0;
}

.background-white {
    background: white;
}

.underline {
    border-bottom: 1px solid #d0d0d0;
}

.container-padding{
    padding-top: 15px;
    padding-bottom: 15px;
}

.avatar {
    margin: 10px 0 10px 10px;
    width: 100%;
}

.score {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    align-items: flex-start;
    display: flex;
}
.nopadding{padding: 0;margin-right: 10px;margin-bottom:10px;border: 1px solid gray;}

.img_size_1 {
    width: 100%;
    background-size: cover;
}


/*常用的默认定值*/
.pdl0{padding-left: 0;}

.pd10-top{
    padding-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml20 {
    margin-left: 20px;
}

.m5 {
    margin: 5px 0;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.blank10 {
    height: 10px;
}

/*end常用的默认定值*/