body {
    background: #f2f2f2;
}

.background-white {
    background: white;
}

.underline {
    border-bottom: 1px solid #d0d0d0;
}

.container-padding{
    padding-top: 15px;
    padding-bottom: 15px;
}

.avatar {
    margin: 10px 0 10px 10px;
    width: 100%;
}

.pdl0{padding-left: 0;}

.pd10-top{
    padding-top: 10px;
}

.score {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    align-items: flex-start;
    display: flex;
}
.nopadding{padding: 0;margin-right: 10px;margin-bottom:10px;border: 1px solid gray;}

.img_size_1 {
    width: 100%;
    background-size: cover;
}