body {
    background: #f2f2f2;
}

.banner{
    height: 40px;
    font-size: 25px;
    font-family: '微软雅黑';
    line-height: 40px;
}

.item_reply {
    background: #ffffff;
    margin-bottom: 20px;
}

.avatar {
    margin: 10px 0 10px 10px;
    width: 100%;
}

.blank10 {
    height: 10px;
}

.score {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    align-items: flex-start;
    display: flex;
}

.img_size_1 {
    width: 100%;
    background-size: cover;
}

.off_15{margin-left: -15px;}
.nopadding{padding: 0;margin-right: 10px;margin-bottom:10px;border: 1px solid gray;}
.pdl0{padding-left: 0;}

.reply_insert{
    padding: 10px;
    background: #f9f7f8;
}

.readed{color: #848484;}